/**/
td {
    padding: 100px;
}

.row2 td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.col2 {
    border-right: 1px solid black;
    border-left: 1px solid black;
}
*/

/*
td {
    padding: 100px;
}

.row1 td {
    border-bottom: 1px solid black;
}

.row2 td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.row3 td {
    border-top: 1px solid black;
}

.col1 {
    border-right: 1px solid black;
}

.col2 {
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.col3 {
    border-left: 1px solid black;
}

/**/
